@charset "utf-8";

head {
	font-family: Open Sans,Verdana, Geneva, sans-serif;
	font-weight:800;
}

html { 
	font-size:100.01%;
}

 body {

	font-family: Verdana, Geneva, sans-serif;
	width: 65%;
	height:60%:
	font-size: 100%;
	
}


h2 {
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
} 

h4 {
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	text-align:center;
	font-weight:800;
	
} 

.repo {
	font-family: Open Sans,"Courier New", Courier, monospace;
	
}


.toolcontainer {
	
	position:absolute;
	float:left;
	width:25%;
	height:83%;
	display:block;
	left:4%;
	top:1%;
	/*background-color:green;*/
}

.inset {
	margin: 1.5%;
	padding: 1.5%;
	height:30%;
	width:95%;
	
}

canvas {
	
	position:absolute;
	left:30%;
	top:1%;
}

#canvas_infopanel {
	
	background-color:darkgrey;
	position:absolute;
	left:86.8%;
	top:1%;
	width:10%;
	height:80%;
	text-align:center;
	border-radius:4%;
	border: thin solid #666;	
	background-color: #CCC;
	
}

#canvas_info {
	position:absolute;
	left:75%;
	top:81%;
	width:10%;
	text-align:center;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
	visibility:visible;
}



#canvas_info_numberboids{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;

}

#canvas_info_pigeonholes{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#canvas_info_perceptionrange{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#canvas_info_boidids{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#button_numberboids{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#button_pigeonholes{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#button_perceptionrange{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

/*#canvas_info {
	position:absolute;
	left:86.8%;
	top:43%;
	width:10%;
	text-align:center;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}*/

.boxed {
	
	border: thin solid #666;
	border-radius:1%;
	
	
}

.panel {
/* 	position:absolute;
	left:300px; */
	position:relative;
	float:none;
	border: thin solid #666;	
	background-color: #CCC;
	width: 85%;
	height: 49%;
	border-radius:10%;
	margin-top:0.6%;
	/*background-color:blue;*/
}


/*  .panel2 {
 	position:absolute;
	left:350px; 
	float:left;
	background-color: #CCC;
	width: 300px;
}  */


.slidermarg {
	margin: 1.5%;
	height:30%;

}


.numlabel {
	font-family: Open Sans,Arial, Helvetica, sans-serif;
	font-size: 70%;

	
}
/*.numnum {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	
} */
.numinput {
	width:4em;
	font-family: Open Sans,Arial, Helvetica, sans-serif;
	font-size: 55%;
	font-weight: bold;
	color:red;
}

input {
	
	position:relative;
	float:right;
	text-align:center;
	font-size: 100%;
}


#stopbutton {
	position:relative;
	margin-left: 40%;
	margin-top:-4%;

	
}

#trigger {
	position:relative;
	margin-left: 28%;
	margin-top:8%;
	float:none;
	font-size:120%;

}



tr {
	position:relative;
	float:none;
	text-align:center;
	width:100%;
	
}

td:nth-child(1) {
	
	text-align:left;
	width:40%;
}

td:nth-child(2) {
	
	text-align:right;
	width:40%;
}

table {
	
	
	margin-top: 0,2em;
}

#dummy_pane {
	position:absolute;
	width:54.6%;
	height:80%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:none;
}

.my_slider {
    width:90%; 
    float:left;    
  }

.my_slideralignment {
	

}

.my_sliderrepulsion {
	
}

.my_slidercohesion {
	
}

.my_slidersimspeed {
	
}

.sliderbox {
	
	height:0%;
	margin-bottom:4%;
	position:relative;
	display:block;
}

#labelalignment {
	color:yellow;
	position:relative;

}
  
#amountalignment {
	
	width:15%;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	font-size:70%;
	position:relative;
	left:-10%;
	
} 

#labelrepulsion {
	color:red;
	position:relative;

}
  
#amountrepulsion {
	width:15%;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	font-size:70%;
	position:relative;
	left:-10%;
	
}  

#labelcohesion {
	color:blue;
	position:relative;
}
  
#amountcohesion {
	width:15%;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	font-size:70%;
	position:relative;
	left:-10%;
	

}  

#labelsimspeed {
	color:black;
	position:relative;
}
  
#amountsimspeed {
	width:15%;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	font-size:70%;
	position:relative;
	left:-10%;

	
}   

label {
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
	font-size:70%;

}

#allslidersbox {
	
	height:40%;
	margin-top:-10%;
}


img {
	
	height:100%;
	width:100%;
	
}

#eyealignment {
	
	position:absolute;
	height:140%;
	width:50%;
	left:63%;
	top:5%;	
}

#eyerepulsion {
	
	position:absolute;
	height:140%;
	width:50%;
	left:63%;
	top:5%;	
	
}

#eyecohesion {
	
	position:absolute;
	height:140%;
	width:50%;
	left:63%;
	top:5%;	
	
}

.sliderinputsbar {
	
	position:relative;
	top:40%;
}
