@charset "utf-8";

html { 
	font-size:100.01%;
	
	
		-khtml-user-select: none;
	    -webkit-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	   
	 
	 cursor: url(img/demonhand_icon.png),pointer;
}




#democontainer {
	
	width:54.6%;
	height:80%;
				
	position:absolute;
	
	left:30%;
	top:1%;

	
	/*z-index:4;*/
	

	
	
}

#demo {  
				
	width:100%;
	height:100%;
				
	position:absolute;
	
	left:0%;
	top:0%;
	
	/*z-index:5;*/
	
	
	
}

	#logocanvas {
		
		position:absolute;
		
		width:113%;
		height:105%;
		
		left:-7%;
		top:0%;
		
		
		/*z-index:5;*/
		
	}
	
	

#background {
	
	position:absolute;
	width:100%;
	height:100%;
	background-color:white;
	top:0;
	left:0;
	
}

#foreground {
	
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	top:0;
	left:0;
	
	opacity:0;
	
	z-index:3;

}

#dummy_pane {
	position:absolute;
	width:58%;
	height:80%;
	/*width:99.5%;
	height:80%;*/
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:none;
}

	
	#mycanvas {
	
	position:absolute;
	
	
	width:58%;
	height:80%;
	
	/*width:99.5%;
	height:80%;*/
	
	
	left:21%;
	top:10%;
	
	/*left:0%;
	top:8%;*/
	
	
	/*border: thin solid #666;*/
	border: 1px solid rgba(0,0,0,0.2);


	/*box-shadow: 0px 0px 10px 0px rgba(255,242,184,.7);*/
	/*box-shadow: 0px 0px 20px 0px rgba(204,255,204,0.8);*/

	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);

	border-radius:1%;
	
	background-color:white;
	z-index:2;
	
	 cursor: url(img/demonhand_icon.png),pointer;
	
	-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .5s ease;
	
	
	}
	
	.birdeagle {
		
		position:absolute;
		
		top:30%;
		left:60%;
		
		width:5%;
		height:8%;
		
		z-index:3;
	}


head {
	font-family: Open Sans,Verdana, Geneva, sans-serif;
	font-weight:600;
}


body {

	font-family: Open Sans, Verdana, Geneva, sans-serif;
	width: 65%;
	height:60%;
	font-size: 100%;
	font-weight:800;

	
}

/*#demonhanddiv {
	
	position:absolute;
	
	top:83%;
	left:80%;
	
	width:30%;
	height:70%;
	
	z-index:6;
	
	pointer-events:none;
}

	#demonhand {
		
		position:absolute;
		
		top:0%;
		left:0%;
		
		width:100%;
		height:100%;
	}
	
#godlyhanddiv {
	
	position:absolute;
	
	top:83%;
	left:2%;
	
	width:30%;
	height:70%;
	
	z-index:6;
	
	pointer-events:none;
}

	#godlyhand {
		
		position:absolute;
		
		top:0%;
		left:0%;
		
		width:100%;
		height:100%;
	}*/

#followmouse {
	
	position:absolute;
	
	top:0%;
	left:0%;
	
	width:5%;
	height:10%;
	
		
	z-index:5;
}


.toolcontainer {
	
	position:absolute;

	width:20%;
	height:80%;

	
	/*background-color:green;*/
}

#toolcontainer1 {
	
	left:4%;
	top:10%;
}
	
	
	.clickforpanel {
		
		position:absolute;
		width:100%;
		height:50%;
		 
		left:-15%;
		top:0%;


		color: white;
		text-decoration: none;
		letter-spacing: 10px; 
		/*background-color: rgba(219,87,5,1);*/
		/*background-color: rgba(200,200,200,1);*/ 
		background-color:white;
		display: block;
		-webkit-border-radius: 12.5%;
		-moz-border-radius: 12.5%;
		border-radius: 12.5%;
		/*-webkit-box-shadow: 0px 0px 10px  rgba(0,0,0,.4);
    	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    	box-shadow: 0px 0px 3px rgba(0,0,0,.4);*/
    	box-shadow: inset 0px 0px 20px rgba(0,0,60,0.2);
    	
		/*border: thin solid #666; 
		border: 1px solid rgba(0,0,0,0.2);*/


		font-size:50%;
		
		    
		text-align: center;
			
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .5s ease;
		
		z-index:1;
		
		font-weight:100;
		
	}
	
		
	#clickpanel1 {
		
		left:70%;
		color: darkgrey;
		background-color:white;
		
		border-top-right-radius:0%;
		border-bottom-right-radius:0%;
		
		/*background-color: rgba(217,255,255,0.4);*/
		
		/*border-top: 1px solid rgba(0,0,60,0.2);
		border-left: 1px solid rgba(0,0,60,0.2);
		border-bottom: 1px solid rgba(0,0,60,0.2);*/
    	
		
	}
	
		
	#clickpanel2 {
		
		top:50%;
		left:70%;
		color: darkgrey;
		
		border-top-right-radius:0%;
		border-bottom-right-radius:0%;		
	}
	
	#clickpanel3 {
		
		left:-85%;
		top:0%;
		color: darkgrey;
		
		border-top-left-radius:0%;
		border-bottom-left-radius:0%;
	}
	
	#clickpanel4 {
		
		left:-85%;
		top:50%;
		color: darkgrey;
		
		border-top-left-radius:0%;
		border-bottom-left-radius:0%;
	}
	
	
	.panel {
	
		position:absolute;
		width:100%;
		height:50%;
		color: black;
		
			
		
		width: 85%;
		height: 50%;
		
		/*border: 1px solid rgba(0,0,0,0.2);*/
		box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1);
		
		
		z-index:1;
	
	}
	
	#panel1 {
			
			
			left:85%;
			
					
			
		    text-decoration: none;
		    /*background-color: rgba(219,87,5,1);	*/
		   /* background-color: #00B0B0; */
		  	/*background-color:rgba(150,255,255,0.4);*/
		    display: block;
		    
		  
		    /*-webkit-box-shadow: 0px 9px  rgba(0,0,0,.7);
    		-moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    		box-shadow: 0px 9px 25px rgba(0,0,0,.7);*/

		   
		    
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .5s ease;
		
	}
	
		.panelheader {
			
			position:absolute;
			
			top:0%;
			left:0%;
			width:100%;
			height:0%;
			text-align:center;
			
			
		}
		
		
			.panelheadertext {
				position:absolute;
				top:0%;
				left:0%;
				width:90%;
				height:50%;
				font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
				text-align:center;
				font-weight:800;
				font-size:50%;
				margin-left:5%;
				margin-top:5%;
			} 
	
		.panelinset {
			
			position:absolute;
			
			top:0%;
			left:0%;
			width:100%;
			height:100%;
			text-align:center;
			
			
			
			
		}
	
			.panelinput {
				position:absolute;
				
				top:0%;
				left:0%;
				width:100%;
				height:100%;
				font-family: Open Sans,Arial, Helvetica, sans-serif;
				font-size: 45%;
				font-weight:400;
			
				
			
			}
			
			
						
				.trclass {
					position:relative;
					float:left;
					text-align:center;
					height:25%;
					width:100%;
					
					
					
					border-bottom:1px solid rgba(0,0,60,0.1);
					
					opacity:0.5;
					
					

				}
				
				.trclass:hover {
					
					color:white;
					
					text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;
					background-color:rgba(192,222,237,0.8);
					opacity:1;
				}
				
				.trclass2 {
					position:relative;
					float:left;
					text-align:center;
					height:25%;
					width:100%;
					
					
					
					border-bottom:1px solid rgba(0,0,60,0.1);
					
					opacity:0.5;
					

				}
				
				.trclass2:hover {
					
					color:white;
					/*background-color:rgba(255,143,143,1);*/
					text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;

					background-color:rgba(227,161,161,0.8);
					opacity:1;
				}
				
				
				.omnitrclass {
					position:relative;
					float:left;
					text-align:center;
					height:33.33333%;
					width:100%;
					
					
										
					border-bottom:1px solid rgba(0,0,60,0.1);
					
					opacity:0.5;
					
					
				}
				
				.omnitrclass:hover {
					
					color:white;
					opacity:1;
					background-color:rgba(192,222,237,0.8);
					text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;

					/*background-color:rgba(217,255,255,1);*/
				}
				
				.omnitrclass2 {
					position:relative;
					float:left;
					text-align:center;
					height:33.333333%;
					width:100%;
					
					
										
					border-bottom:1px solid rgba(0,0,60,0.1);
					
					opacity:0.5;
					
					
				}
				
				.omnitrclass2:hover {
					
					color:white;
					opacity:1;
					background-color:rgba(227,161,161,0.8);
					text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;
					/*background-color:rgba(255,143,143,1);*/
				}
				
										
					.godlypower {
						
						position:absolute;
						
						top:0%;
						left:5%;
						width:30%;
						height:100%;
						
					}
					
					.godlyomni {
						
						position:absolute;
						
						top:15%;
						left:5%;
						width:30%;
						height:80%;
						
					}
					
					.demonpower {
						
						position:absolute;
						
						top:0%;
						right:5%;
						width:30%;
						height:100%;
						
					}
					
					.demonomni {
						
						position:absolute;
						
						top:15%;
						right:5%;
						width:30%;
						height:80%;
						
					}
					
					.powerimageback {
	
						position:absolute;
						
						left:0%;
						top:0%;
						
						width:100%;
						height:100%;
						
										
					}
					
					.powerimage {
	
						position:absolute;
						
						left:0%;
						top:0%%;
						
						width:80%;
						height:80%;
										
						
					}
					
					
														
					.godlypowerlabel {
						
						position:absolute;
						
						top:30%;
						left:43%;
						width:60%;
						height:100%;
						
						text-align:left;
					
						opacity:0;
					}
					
										
					.demonpowerlabel {
						
						position:absolute;
						
						top:30%;
						right:43%;
						width:60%;
						height:100%;
						
						text-align:right;

						opacity:0;
					}
					
									
					
					.panelinputradio {
						
						position:absolute;
						
						top:0%;
						left:0%;
						width:100%;
						height:100%;
						
					}
					
					.labelradio {
						position:absolute;
						
						top:0%;
						left:0%;		
										
						width:100%;
						height:50%;
						
						
						font-size:80%;
					}
					
					#labelradiolabel1 {
						
						position:absolute;
																					
						top:-10%;
						left:17%;
							
						width:50%;
						height:100%;
						
						
						z-index:2;
					}
					
					#labelradiolabel2 {
						
						position:absolute;
																					
						top:-10%;
						left:34%;
							
						width:50%;
						height:100%;
						
						
						
						z-index:2;
						
					}
					
					#labelradiolabel3 {
						
						position:absolute;
																					
						top:-10%;
						left:0%;
							
						width:33%;
						height:100%;
						
						
						z-index:2;
					}
					
					#labelradiolabel4 {
						
						position:absolute;
																					
						top:-10%;
						left:33%;
							
						width:33%;
						height:100%;
						
						
						z-index:2;
					}
					
					#labelradiolabel5 {
						
						position:absolute;
																					
						top:-10%;
						left:66%;
							
						width:33%;
						height:100%;
						
						
						z-index:2;
					}
					
					.arearadio {
						
						position:absolute;
						
						top:50%;
						left:0%;
						
						width:100%;
						height:50%;
					}
					
					.buttonwall {
						
						position:relative;
						
						float:left;
						
						left:-7%;
						
						margin-left:20%;
					}
					
					.panelinputfield {
						
						position:absolute;
						
						top:15%;
						left:45%;
						width:50%;
						height:60%;
						
						color:orange;
						font-weight:600;
						
						
						text-align:center;
					
					}
	
	.panelbottom {
		
		position:absolute;
		
		top:80%;
		left:0%;
		width:100%;
		height:0%;
		text-align:center;
	
	}
	
		#restartbuttonpanel {
			
			position:absolute;
			top:25%;
			left:0;
			
			width:100%;
			height:50%;
			
			
		
		}
		
			.panelbutton {
				
				position:absolute;
				
				top:25%;
				left:25%;
				
				width:50%;
				height:90%;
				
				font-size:50%;
				text-align:center;
	
			}
		
				#restartbutton {
					
					
				}


	#panel2 {
		
		
		
		top:50%;
		left:85%;
		
		
		    text-decoration: none;
		    display: block;
		    
		    /*-webkit-box-shadow: 0px 9px  rgba(0,0,0,.7);
    		-moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    		box-shadow: 0px 9px 25px rgba(0,0,0,.7);*/

		   
		    
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .5s ease;
	}
	
		#stopbuttonpanel {
			
			position:absolute;
			top:25%;
			left:0;
			
			width:100%;
			height:50%;
			
			
		
		}
		
		#stopbutton {
		
		}
		
		#allslidersbox {
			position:absolute;
			height:100%;
			width:100%;
			
			top:0%;
			left:0%;
			
		}
		
		.sliderbox {
			
			position:relative;
			height:25%;
			width:100%;
			
		
			
		}
		
			.sliderinputsbar {
		
				position:absolute;
				
				height:40%;
				width:100%;
				
				top:0%;
				left:0%;
				
			}
				
				.sliderlabel {
		
					position:absolute;
					top:0%;
					left:2%;
					height:100%;
					width:40%;
					
					font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
					font-weight:200;
					font-size:50%;
					text-align:left;
					
				
				}
				
							
				
					.slideramount {
						
						position:absolute;
						
						top:0%;
						left:75%;
						
						width:10%;
						height:100%;
						
						font-weight: bold;
						font-size:70%;
				
						
					}
					
						.slideramountfield {
							
							position:absolute;
							
							height:100%;
							width:100%;
							
							left:0%;
							top:15%;
						}

				.slidereye {
					
					position:absolute;
					
					width:15%;
					height: 120%;
					
					top:15%;
					left:85%;
					
					
					z-index:3;
				}
				
										
					img {
						position:absolute;
						height:100%;
						width:100%;
						
						top:0%;
						left:0%;
					}
			
			.slider {
				
				position:absolute;
				height:25%;
				width:80%;
				
				top:60%;
				left:15%;
			}

				.my_slideralignment {
					
					position:absolute;
					
					height:100%;
					width:100%;

					
				}
				
					
				.my_sliderrepulsion {
		
					position:absolute;

					height:100%;
					width:100%;
					
				}
	
				.my_slidercohesion {
					position:absolute;
						
					height:100%;
					width:100%;
				}
	
				.my_slidersimspeed {
					position:absolute;
						
					height:100%;
					width:100%;
				}
			
				/*Slider Handle :D)
				 * 
				 */
				
				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
					
					position:absolute;
					
					height:140%;
					width:8%;
					
					top:-35%;
					
				}



#toolcontainer2 {
	
	
	left:79%;
	top:10%;
	
}


#panel3 {
			
			
			left:-85%;
					
		    text-decoration: none;
		    
		    /*background-color: rgba(255,143,143,0.5);*/
		    display: block;
		    
		  	box-shadow: inset -1px 0px 0px rgba(0,0,0,0.1);
		    /*-webkit-box-shadow: 0px 9px  rgba(0,0,0,.7);
    		-moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    		box-shadow: 0px 9px 25px rgba(0,0,0,.7);*/

		   
		    
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .5s ease;
		
}
	
#panel4 {
		
		
		top:50%;
		left:-85%;
					
		
		text-decoration: none;
			 
		display: block;
		    
		 box-shadow: inset -1px 0px 0px rgba(0,0,0,0.1);
		    /*-webkit-box-shadow: 0px 9px  rgba(0,0,0,.7);
    		-moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    		box-shadow: 0px 9px 25px rgba(0,0,0,.7);*/

		   
		    
		text-align: center;
			
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .5s ease;
		
}

				        				

#canvas_infopanel {
	
	background-color:darkgrey;
	position:absolute;
	left:86.8%;
	top:1%;
	width:10%;
	height:80%;
	text-align:center;
	border-radius:4%;
	border: thin solid #666;	
	background-color: #CCC;
	
}

#canvas_info {
	position:absolute;
	left:75%;
	top:81%;
	width:10%;
	text-align:center;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
	visibility:visible;
}



#canvas_info_numberboids{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;

}

#canvas_info_pigeonholes{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#canvas_info_perceptionrange{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#canvas_info_boidids{
	position:relative;
	width:90%;
	height:25%;
	text-align:center;
	margin:auto;
	
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#button_numberboids{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

#button_pigeonholes{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

.button_perceptionrange{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	margin:auto;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}

/*#canvas_info {
	position:absolute;
	left:86.8%;
	top:43%;
	width:10%;
	text-align:center;
	font-family: Open Sans,Georgia, "Times New Roman", Times, serif;
	font-weight:400;
}*/





/*  .panel2 {
 	position:absolute;
	left:350px; 
	float:left;
	background-color: #CCC;
	width: 300px;
}  */


/*input {
	
	position:relative;
	width:60%;
	height:30%;
	float:right;
	text-align:center;
	font-size: 100%;
}*/

/*td:nth-child(1) {
	position:relative;
	text-align:left;
	width:40%;
}

td:nth-child(2) {
	position:relative;
	text-align:right;
	width:40%;
}*/



#labelalignment {
	color:yellow;
	

}
  
#amountalignment {
	
	color: #f6931f;
	
} 

#labelrepulsion {
	color:red;
	

}
  
#amountrepulsion {
	
	color: #f6931f;
		
}  

#labelcohesion {
	color:blue;
	
}
  
#amountcohesion {
	
	color: #f6931f;
		
}  

#labelsimspeed {
	color:black;
	
}
  
#amountsimspeed {
	
	color: #f6931f;
	

	
}   


#eyealignment {
	
	
}

#eyerepulsion {
	
	
	
}

#eyecohesion {
	
	
	
}

.hidden {
	
	visibility:hidden;
	display:none;
}


.imagehighlight {
						
						
			-webkit-box-shadow: inset 0px 0px 10px 10px rgba(255,246,122,0.9), 0px 0px 10px 10px rgba(255,246,122,0.9);
			-moz-box-shadow: inset 0px 0px 10px 10px rgba(255,246,122,0.9), 0px 0px 10px 10px rgba(255,246,122,0.9);
			box-shadow:  inset 0px 0px 40px 2px rgba(255,246,122,0.9), 0px 0px 40px 2px rgba(255,246,122,0.9);
			
			opacity:1;
			background-color:rgba(192,222,237,0.8);    	    
		
		
			color:white;
					
			text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;
					
}

.imagehighlight-1 {
						
						
			-webkit-box-shadow: inset 0px 0px 10px 10px rgba(255,246,122,0.9), 0px 0px 10px 10px rgba(255,246,122,0.9);
			-moz-box-shadow: inset 0px 0px 10px 10px rgba(255,246,122,0.9), 0px 0px 10px 10px rgba(255,246,122,0.9);
			box-shadow:  inset 0px 0px 40px 2px rgba(255,246,122,0.9), 0px 0px 40px 2px rgba(255,246,122,0.9);
			
			opacity:1;
			background-color:rgba(227,161,161,0.8);   	    
		
			color:white;
					
			text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;
}

.imagehighlight1 {
						
						
			-webkit-box-shadow: inset 0px 0px 20px 0px rgba(255,246,122,0.9), 0px 0px 20px 0px rgba(255,246,122,0.9);
			-moz-box-shadow: inset 0px 0px 20px 0px rgba(255,246,122,0.9), 0px 0px 10px 0px rgba(255,246,122,0.9);
			box-shadow:  inset 0px 0px 20px rgba(0,0,60,0.4), 0px 0px 10px 0px rgba(255,246,122,0.9);
			
			
			
}

.imagehighlight2 {
						
						
			-webkit-box-shadow: inset 0px 0px 20px 0px rgba(255,162,0,0.6), 0px 0px 10px 0px rgba(255,162,0,0.6);
			-moz-box-shadow: inset 0px 0px 20px 0px rgba(255,162,0,0.6), 0px 0px 10px 0px rgba(255,162,0,0.6);
			box-shadow:  inset 0px 0px 20px 0px rgba(255,162,0,0.6), 0px 0px 10px 0px rgba(255,162,0,0.6);
				    
			
}



.rotateclick1 {
	
	position:absolute;
		
		left:3%;
		top:78%;
		
	

  
	
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotateclick2 {
	
	position:absolute;
		
		left:3%;
		top:88%;	
		
	
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotateclick3 {
	
	position:absolute;
		
		left:88%;
		top:70%;	
		
	
	
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotateclick4 {
	
	position:absolute;
		
		left:88%;
		top:81%;	
	
	
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


